beautifulsoup4==4.5.3
blinker==1.4
bs4==0.0.1
click==6.7
Flask==0.12
Flask-DebugToolbar==0.10.1
Flask-SQLAlchemy==2.2
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==1.0
psycopg2==2.7.1
requests==2.13.0
SQLAlchemy==1.1.6
Werkzeug==0.12.1
