/*HOMEPAGE*/

#base_buttons {
    padding: 10px 10px 10px 10px;
}

#bus_pick {
    padding: 10px 10px 10px 10px;
}

#geolocation{
    padding: 10px 10px 1px 45px;
}
.copy{
    padding: 10px 10px 1px 10px;
}
/*HOMEPAGE*/

/*BUSDETAIL*/

.businfo{
  padding: 10px 10px 1px 10px;s
}
/*BUSDETAIL*/


/*USER PAGE*/

.name_info{
  padding: 10px 10px 1px 10px;s
}
/*USER PAGE*/