{% extends 'base.html' %}
{% block content %}

<div id=comments>


<h1> {{ info.bus_name }}</h1>
<h1> {{ info.bus_lname }}</h1>

<p> This bus is rated at an: </p> <h3> {{ average }}</h3> 

{% if "user_id" in session %}
  <a href="/ratings">Rate this Bus</a>
{% endif %}

</div>
<br>
<br>


<center></center><div class=chartborder>
<canvas id="chart" width="50" height="50"></canvas>
</div>
</center>


<script>

var labels = []
var data = []

var filter_counts = {{ chart_dict[0]|tojson|safe }}
for (var code in filter_counts) { 
    labels.push(code)
    data.push(filter_counts[code])
}


var data = {
    labels: labels,
    datasets: [
        {
            data: data,
            backgroundColor: [
                "#E24549",
                "#FD6E72",
                "#CA1F23",
                "#9F0C10",
                "#FE999C",
                "#2A8B87",
                "#08615E",
                "#137C78",
                "#449C99",
                "#75C2BF",
                "#2A8B87",
                "#3EB938",
                "#20A519",
                "#60CF5A"
            ],
            hoverBackgroundColor: [
                "#E24549",
                "#FD6E72",
                "#CA1F23",
                "#9F0C10",
                "#FE999C",
                "#2A8B87",
                "#08615E",
                "#137C78",
                "#449C99",
                "#75C2BF",
                "#2A8B87",
                "#3EB938",
                "#20A519",
                "#60CF5A"
            ]
        }]
};

new Chart("chart",{
    type:"doughnut",
    maintainAspectRatio: true,
    responsive: true,
    data: data,
    animation:{
        animateRotate:true
    }

});

</script>


<div id="comments">
what poeple are saying about the {{ info.bus_name }}<br>

<ul>
{% for comment in comments %}
<b> {{ comment[1]|capitalize }}</b>
</div>
<div class="talk-bubble tri-right left-top">
  <div class="talktext">
    <li> {{ comment[0] }}</li>
{% endfor %}
 </div>
</div>

</div>
{% endblock %}