{% extends 'base.html' %}
{% block content %}

<div class="rr-hero">
  <h1>hey {{ user.fname|capitalize }}! 🍨</h1>
  <p>here's everything you've rated so far</p>
</div>

<div class="rr-card name_info">
  <div class="container">
    {% for user_rating in user_ratings %}
    <div class="talk-bubble">
      <div class="talktext">
        <b>{{ user_rating.bus_code }}</b> &mdash; {{ user_rating.rating }} stars<br>
        {{ user_rating.comments }}
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
